[submodule "software/submodules/sas_unitree_b1z1_control_template"]
	path = software/submodules/sas_unitree_b1z1_control_template
	url = https://github.com/Adorno-Lab/sas_unitree_b1z1_control_template
