name: Create and publish a Docker image to ghcr.io

on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io
  NAMESPACE: adorno-lab/rap2025_wholebodycontrol
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1 # https://github.com/orgs/community/discussions/45969    

jobs:
  build-and-push-image:
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Log in to the Container registry
            uses: docker/login-action@v3
            with:
              registry: ${{ env.REGISTRY }}
              username: ${{ github.actor }}
              password: ${{ secrets.GITHUB_TOKEN}}

          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3
          
          - name: Build and push sas_robot_driver_unitree_b1z1 Docker image
            uses: docker/build-push-action@v6
            with:
              file: docker/sas_robot_driver_unitree_b1z1/Dockerfile
              push: false
              tags: ${{ env.REGISTRY }}/${{ env.NAMESPACE}}/sas_robot_driver_unitree_b1z1:latest

          - name: Build and push sas_coppeliasim_unitree_b1z1 Docker image
            uses: docker/build-push-action@v6
            with:
              file: docker/sas_coppeliasim_unitree_b1z1/Dockerfile
              push: false
              tags: ${{ env.REGISTRY }}/${{ env.NAMESPACE}}/sas_coppeliasim_unitree_b1z1:latest 

          - name: Build and push sas_control_unitree_b1z1 Docker image
            uses: docker/build-push-action@v6
            with:
              file: docker/sas_control_unitree_b1z1/Dockerfile
              push: false
              tags: ${{ env.REGISTRY }}/${{ env.NAMESPACE}}/sas_control_unitree_b1z1:latest    

          - name: Build and push sas_unitree_b1z1_rap_control_template Docker image
            uses: docker/build-push-action@v6
            with:
              file: docker/sas_unitree_b1z1_rap_control_template/Dockerfile
              push: true
              tags: ${{ env.REGISTRY }}/${{ env.NAMESPACE}}/sas_unitree_b1z1_rap_control_template:latest      

         
